#banner {
    height: 1035px;
    display: flex;
}

#phoneBanner {
    width: 50%;
}

#phoneBanner img {
    width: 100%;
}

#welcome {
    width: 50%;
}

h1, p {
    font-family: appFont;
    text-align: center;
}

h1 {
    font-size: 48px;
}