#banner {
    height: 1000px;
    display: flex;
    align-items: center;
}

#phoneBanner {
    width: 50%;
}

#phoneBanner img {
    width: 100%;
}

#welcome {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#learnMore {
    margin-top: 50px;
    padding: 25px;
    border-radius: 15px;
    font-family: appFont;
    font-size: 24px;
    background-color: #0071e3;
    color: white;
}

#learnMore:hover {
    background-color: #004b97;
}

#content {
    width: 75%;
}

.diff {
    background-color: black;
    color: white;
    font-style: normal;
    padding: 5px;
}

h1, p {
    font-family: appFont;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-top: 0px;
}

p {
    font-size: 28px;
}

@media (max-width: 1360px) {
    h1 {
        font-size: 36px;
        margin-bottom: 36px;
    }

    p {
        font-size: 24px;
    }

    #learnMore {
        margin-top: 35px;
        padding: 20px;
        border-radius: 10px;
        font-size: 24px;
    }

    #banner {
        height: 850px;
    }
}

@media (max-width: 1000px) {
    #banner {
        flex-direction: column;
        height: 1325px;
    }

    #phoneBanner {
        width: 75%;
    }

    #welcome {
        width: 75%;
    }

    h1 {
        margin-top: 25px;
    }
}

@media (max-width: 700px) {
    #banner {
        height: 1200px;
    }
}

@media (max-width: 450px) {
    #banner {
        height: 1000px;
    }

    h1 {
        font-size: 32px;
        margin-bottom: 32px;
    }

    p {
        font-size: 20px;
    }

    #learnMore {
        margin-top: 25px;
        padding: 15px;
        border-radius: 10px;
        font-size: 20px;
    }
}