#banner {
    height: 1000px;
    display: flex;
    align-items: center;
}

#phoneBanner {
    width: 50%;
}

#phoneBanner img {
    width: 100%;
}

#welcome {
    width: 50%;
}

h1, p {
    font-family: appFont;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-top: 0px;
}

p {
    font-size: 28px;
}