<article id="banner">
    <section id="welcome">
        <h1>Think <i class="diff">Different.</i></h1>
        <section id="content">
            <p>Tired of scouring the internet for the specs of the latest and greatest Apple devices?</p>
            <p><i class="diff">This is the website for you!</i></p>
            <p>We offer a deeper look into the characteristics of the newest iPhones.</p>
            <p>Choose the device you are interested in and we will handle the rest!</p>
        </section>
        <a routerLink="products" id="learnMore">Learn more</a>
    </section>
    <section id="phoneBanner">
        <img src="../../assets/images/banner.jpg" alt="banner"/>
    </section>
</article>