p, h1 {
    font-family: appFont;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 100px;
}

p {
    font-size: 24px;
}

#center {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
}

#center {
    margin-bottom: 100px;
}

img {

}