<article id="details" *ngIf="product">
    <h1>{{product.name}}</h1>
    <section id="center">
        <section id="container">
            <section id="display">
                <img src={{product.image}} alt={{product.name}}/>
            </section>
            <section id="specs">
                <p><i class="diff">Name:</i> {{product.name}}</p>
                <p><i class="diff">Screen Size:</i> {{product.screen_size}}</p>
                <p><i class="diff">Screen Resolution:</i> {{product.screen_res}}</p>
                <p><i class="diff">CPU:</i> {{product.cpu}}</p>
                <p><i class="diff">Memory:</i> {{product.memory | gigabyte}}</p>
                <p><i class="diff">Storage:</i> {{product.capacity | gigabyte}}</p>
                <p><i class="diff">Camera:</i> {{product.camera}}</p>
            </section>
        </section>
    </section>
</article>